.root {
    padding: 5px 10px 5px 35px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 8px;
    width: 250px;
    display: inline-block;
}

.glass {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 8px;
    left: 10px;
}

.search {
    position: relative;
}

.close {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 8px;
    right: 10px;
}